<ion-header>
  <div class="container-header" fxLayout="row" fxLayoutAlign="space-between center">
    <ion-icon name="help-circle-outline"></ion-icon>
    <ion-title text-center>myXL</ion-title>
    <ion-icon name="notifications"></ion-icon>
  </div>
  <div class="container-profil" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px">
    <img src="assets/xl/profil.png" fxFlex="none">
    <div fxLayout="column" fxFlex="">
      <ion-label class="primary-text">Welcome</ion-label>
      <ion-label class="secondary-text">0328438294281</ion-label>
    </div>
    <ion-icon name="arrow-dropdown" fxFlex="none"></ion-icon>
  </div>
</ion-header>

<ion-content padding>

</ion-content>
