<ion-header no-border>
  <div class="container-header" fxLayout="row" fxLayoutAlign="space-between center">
    <ion-icon name="help-circle-outline"></ion-icon>
    <ion-title text-center>myXL</ion-title>
    <ion-icon name="notifications"></ion-icon>
  </div>
  <div class="container-profil" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px">
    <img src="assets/xl/profil.png" fxFlex="none">
    <div fxLayout="column" fxFlex="">
      <ion-label class="primary-text">Welcome</ion-label>
      <ion-label class="secondary-text">0328438294281</ion-label>
    </div>
    <ion-icon name="arrow-dropdown" fxFlex="none"></ion-icon>
  </div>
</ion-header>

<ion-content padding>

  <div class="balance-box box">
    <ion-label class="title-card">Remaining Balance</ion-label>
    <div class="balance-section" fxLayout="row" fxLayoutAlign="space-between center">
      <ion-label>IDR 123.000</ion-label>
      <button ion-button outline>Top up</button>
    </div>    
    <div class="period-section" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
      <div class="circle"></div>
      <ion-label class="dim-text">Until</ion-label>
      <ion-label>{{ period | date:'mediumDate' }} - 123 day(s) </ion-label>
    </div>
  </div>

  <div class="kuota-box box" fxLayout="column" fxLayoutGap="6px">
    <div class="title-section" fxLayout="row" fxLayoutAlign="space-between start">
      <ion-label class="primary-text">Remaining Quote</ion-label>
      <ion-label class="dim-text">See detail ></ion-label>
    </div>
    <div class="bar-section" fxLayout="row" fxLayoutAlign="space-between start">
      <ion-label>0 GB</ion-label>
      <ion-label>10 GB</ion-label>
    </div>
    <div class="usage-section" fxLayout="row" fxLayoutAlign="space-around start">
      <div class="data-section" [ngClass]="{'middle-data':i == 1}" fxLayout="column" fxLayoutAlign="start center" *ngFor="let usage of dataUsage; index as i" fxLayoutGap="6px">
        <ion-icon [ngStyle]="{'transform' : usage.icon == 'swap' ? 'rotate(90deg)' : 'rotate(0deg)'}" name={{usage.icon}}></ion-icon>
        <div class="value-section" fxLayout="row" fxLayoutAlign="center center">
          <ion-label class="val" *ngIf="usage.val != null">{{usage.val}}</ion-label>
          <ion-icon *ngIf="usage.val == null" name="add-circle"></ion-icon>
          <ion-label class="ext">{{usage.ext}}</ion-label>
        </div>
      </div>
    </div>
  </div>

  <div class="feature-box" fxLayout="column">
    <ion-label>Features</ion-label>
    <div class="feature-section" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around start">
      <div class="fitur" fxLayout="column" fxLayoutAlign="space-between center">
        <ion-icon name="phone-portrait"></ion-icon>
        <ion-label>Buy Package</ion-label>
      </div>
      <div class="fitur" fxLayout="column" fxLayoutAlign="space-between center">
        <ion-icon name="phone-landscape"></ion-icon>
        <ion-label>Share Balance</ion-label>
      </div>
      <div class="fitur" fxLayout="column" fxLayoutAlign="space-between center">
        <ion-icon name="logo-game-controller-b"></ion-icon>
        <ion-label>123 Play</ion-label>
      </div>
    </div>
  </div>

</ion-content>
